
span {
  color:#66FCF1;
}
img {
  float:left;
  width: 35%;
  vertical-align: top;
  margin: 0px 10px 10px 10px;
}

a {
  color: #66FCF1;
  text-align: center;
  margin: 0 1px;
}

.fab {
  font-size:33px;
  color: #FFFFFF;
  padding:20px;

}
.fab:hover, .fab:focus, .fab.active, .fab-primary.active {
  color: #66FCF1;
}

ul {
  display:table;
  justify-content: center;
  margin: auto;

}
h2, h4 {
  text-align: center;
}
h5 {
  color: #66FCF1;
  text-align: center;
}
p {
  text-align: left;
}
.skills {
  text-align: left;
  display:inline-block;
  padding: 20px;
  justify-content: left;

}
.tech {
  text-align: center;
  display:inline-block;
  padding: 20px;

}

