<div id="wrap">
  <h2>ABOUT ME</h2>
  <h4>I am a <span>Front End Web Developer.</span></h4>
  <div id="skills">
      <div id="connect" style="text-align: center">

        <a href="https://www.linkedin.com/in/victora88/" target="_blank" >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/v-flores"  target="_blank">
          <i class="fab fa-github"></i>
        </a>

  <div id="bio"><br>
    <img src="../../assets/img/headshotSM.jpg">
    <p>
      I had been working in social media marketing and event promotion for over 5 years before beginning my coding journey centered around the MEAN stack in 2019.
      I am highly-motivated, result oriented, hard working, and self-taught. I'm a very experienced communicator and listener.
      <br><br>I also run a small event marketing company called <a href="http://www.obscureevents.com" target="_blank">Obscure Events</a> which throws monthly events in Chicago and Detroit. I also DJ as <a href="https://www.facebook.com/cinnamusic" target="_blank">Cinna</a>.
      <br>
      <br>Aside from web development, I enjoy travel, brewing speciality coffee, jamming on my saxophone, and working out.
    </p>
  </div>
      <div id="tech">
        <h5>Programming Languages & Tools</h5>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-angular"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-wordpress"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-node"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-bootstrap"></i>
              </li>
          </ul>
        </div>
      </div>
  </div>
</div>

