<div id="wrap">
<h2>ABOUT ME</h2>
<h4>I am a <span>Front End Web Developer.</span></h4>
  <p>
    Apart from web development, I enjoy travel and contributing to the local electronic dance music scene.
    <br>I DJ in Chicago as <a href="https://www.facebook.com/cinnamusic" target="_blank">Cinna</a> while also running
    <a href="http://www.obscureevents.com" target="_blank">Obscure</a> which welcomes a variety of house and techno artists from abroad to Chicago.
    <p class="mb-0">When forced indoors, I enjoy brewing speciality coffee, jamming on my saxophone or EWI, and producing electronic music.
  </p>
  <a href="https://www.linkedin.com/in/victora88/" target="_blank" >
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/v-flores"  target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <img src="../../assets/img/headshotSM.jpg">
</div>
