<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Obscure</h3>
        <div class="subheading mb-3">Co-Founder/Content Director</div>
        <ul>
            <li>Direct organizational operations, policies, procedures of events company dedicated to
              bringing world renowned artists and musicians to Chicago </li>
            <li>Create, improve, and set direction of online content and email marketing</li>
            <li>Develop and execute social media marketing content and strategy</li>
            <li>Direct and coordinate logistics for accommodations, hospitality, and technical requirements for artist guests</li>
            <li>Oversee and maintain records for online ticketing, budgets, and sales</li>
            <li>Develop and maintain relationships with talent buyers, agents, local businesses, artists, and vendors to promote events</li>
          </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2016 - Present</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Time Nightclub</h3>
        <div class="subheading mb-3">Social Media Strategist</div>
        <ul>
            <li>Managed all social media content and presence on multiple platforms</li>
            <li>Analyzed and reported on social media presence, engagement, and ROI on all platforms</li>
            <li>Monitored and reported on SEO and user engagement after a complete redesign of online presence</li>
            <li>Advised management on digital marketing and advertising best practices using predefined set of digital key performance indicators </li>
        </ul>

      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">April 2015 - Jun 2016</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Ala Carte Entertainment (Castle Nightclub)</h3>
        <div class="subheading mb-3">Marketing & Promotions Coordinator</div>
        <ul>
          <li>Managed all social media content and presence on multiple platforms for three company franchises</li>
          <li>Designed creative digital content and monitored/reported on effectiveness to raise brand awareness</li>
          <li>Hired, trained, and oversaw payroll for the promotions department with 12 employees</li>
          <li>Provided accommodations, hospitality, and technical requirements of DJs through their respective agency management team</li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2013 - January 2015</span>
      </div>
    </div>

  </div>

</section>

