<section id="portfolio" class="portfolio">
    <div class="portfolio-details">
      <div class="section-heading text-center">
        <h2>PROJECTS</h2>
      </div>
      <div class="container">
        <div class="portfolio-content">
          <div class="isotope">
            <div class="row">
              <!-- START PROJECT 1 -->
              <div class="col-sm-4">
                <div class="item">
                  <img src="../../assets/img/Obscure.PNG" alt="Obscure Evens Webpage"/>
                  <div class="isotope-overlay">
                    <a href="http://www.obscureevents.com">
                        Web Design + Development
                    </a>
                  </div>
                </div>
                <h3>Obscure Events</h3>
              </div>
              <!-- END PROJECT 1 -->


            </div>

          </div>

        </div>

      </div>
    </div>
</section>

