<section id="portfolio" class="portfolio">
  <div class="portfolio-details">
    <div class="section-heading text-center">
      <h2>PROJECTS</h2>
    </div>
    <div class="container">
      <div class="portfolio-content">
        <div class="isotope">
          <div class="row">
            <!-- START PROJECT 1 -->
            <div class="col-sm-4">
              <div class="item">
                <img src="../../assets/img/obscure.jpg" alt="Obscure Events Webpage" />
                <div class="isotope-overlay">
                  <ul>
                    <li><a href="https://github.com/v-flores/obscure_web" target="_blank">
                        <i class="fab fa-github fa-3x "></i></a>
                    </li>
                    <li><a href="https://www.obscureevents.com" target="_blank">
                        <i class="fas fa-eye fa-3x"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <h3>Obscure Events</h3>
            </div>
            <!-- END PROJECT 1 -->
            <!-- START PROJECT 2
              <div class="col-sm-4">
                  <div class="item">
                    <img src="../../assets/img/modernize.jpg" alt="HTML CSS Coding Bootcamp Exam"/>
                    <div class="isotope-overlay">
                      <ul>
                        <li><a href="https://github.com/v-flores/CDExam" target="_blank">
                          <i class="fab fa-github fa-3x "></i></a>
                        </li>
                        <li><a href="https://v-flores.github.io/CDExam/" target="_blank">
                          <i class="fas fa-eye fa-3x"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h3>Modernize Theme</h3>
                </div> -->
            <!-- END PROJECT 2 -->
            <!-- START PROJECT 3 -->
            <div class="col-sm-4">
              <div class="item">
                <img src="../../assets/img/forecast4u.jpg" alt="HTML CSS Javascript" />
                <div class="isotope-overlay">
                  <ul>
                    <li><a href="https://github.com/v-flores/forecast4u" target="_blank">
                        <i class="fab fa-github fa-3x "></i></a>
                    </li>
                    <li><a href="https://v-flores.github.io/forecast4u/" target="_blank">
                        <i class="fas fa-eye fa-3x"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <h3>Forecast4U</h3>
            </div>
            <!-- END PROJECT 3 -->
            <!-- START PROJECT 4-->
            <div class="col-sm-4">
              <div class="item">
                <img src="../../assets/img/comingsoon.jpg" alt="HTML CSS Javascript" />
                <div class="isotope-overlay">
                  <ul>
                    <li><a href="https://github.com/v-flores/comingsoon" target="_blank">
                        <i class="fab fa-github fa-3x "></i></a>
                    </li>
                    <li><a href="https://v-flores.github.io/comingsoon/" target="_blank">
                        <i class="fas fa-eye fa-3x"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <h3>Coming Soon</h3>
            </div>
            <!-- END PROJECT 4 -->
            <!-- START PROJECT 5-->
            <div class="col-sm-4">
              <div class="item">
                <img src="../../assets/img/booklist.jpg" alt="HTML CSS Javascript" />
                <div class="isotope-overlay">
                  <ul>
                    <li><a href="https://github.com/v-flores/book_list" target="_blank">
                        <i class="fab fa-github fa-3x "></i></a>
                    </li>
                    <li><a href="https://v-flores.github.io/book_list" target="_blank">
                        <i class="fas fa-eye fa-3x"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <h3>Book List</h3>
            </div>
            <!-- END PROJECT 5 -->
          </div>

        </div>

      </div>

    </div>
  </div>
</section>
