<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-js-square"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-angular"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-bootstrap"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-wordpress"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-node"></i>
      </li>
      <li class="list-inline-item">
          <i class="fab fa-bootstrap"></i>
        </li>
    </ul>

    <div class="subheading mb-3">Other</div>
    <ul>
      <li>Spanish (Fluent)</li>
      <li>Photoshop</li>
      <li>Premiere</li>
      <li>Mongodb</li>
      <li>Express</li>
      <li>Social Media Management</li>
      <li>Business Storytelling</li>
      <li>Branding</li>
      <li>Customer Service</li>
      <li>Hootsuite</li>
    </ul>
  </div>
</section>

